<!DOCTYPE html>
<html lang="en">
<head>
    <title>Empresa</title>
	
	<link href="../public/css/login.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="form-contact">
    	<div class="line"></div>

    	<div class="logo-form">
    		<img src="../public/img-projeto/logo.png">
    		<p>Por favor entre com suas informações.</p>
    	</div><!--logo-form-->
		<form>
			<div class="form-wraper">
				<input placeholder="Email" name="email" type="text" id="email"/>
			</div><!--form-wraper-->

			<div class="form-wraper">
				<input placeholder="Senha" name="password" type="password" id="senha"/>
			</div><!--form-wraper-->

			<div class="checkbox">
				<div class="checkbox-wraper">
					<input type="checkbox" name="checkbox" value="checkbox">
					<span>Manter-me conectado</span>
					<a href="">Esqueceu a senha?</a>
				</div><!--checkbox-wraper-->
			</div><!--checkbox-->

			<div class="form-button">
				<input type="button" value="Entrar" id="send" />
			</div><!--form-button-->
			<div id="error" style="display:none;">
				<p>Usuário ou senha inválidos</p>
			</div>

		
		</form>

		<div class="clear"></div>
	</div><!--form-contact-->

	<script>
		const btn = document.querySelector("#send")
		btn.addEventListener("click",function(e){
			e.preventDefault();

			const email = document.querySelector("#email");
			const emailvalue = email.value;
			const senha = document.querySelector("#senha");
			const senhavalue = senha.value;
			const login = ()=>{
				const URL = `http://localhost:1010/entrar/` + emailvalue + "/" + senhavalue;
				console.log(URL);
				fetch(URL)
					.then((response) => response.json())
						.then((data) =>{
							window.location.href = "http://localhost:1010/panel/" + data[0].user_name;
						})
						.catch(function ErroLogin() {
							console.log("entrei");
							document.getElementById("error").style.display = "block";
						});
			}
			login();
		})

	</script>
</body>
</html>